
books/5pkdeutschgedanken.pdf
books/.ipynb_checkpoints/pdf2txt-checkpoint.ipynb
.ipynb_checkpoints/5pk_deutsch_gedanken-checkpoint.ipynb
5pk_deutsch_gedanken.pdf
books/test.txt
books/test.png
books/test.jpg
